
@{
    ViewData["Title"] = "About";
}

<div class="row">
    <h1 class="col-sm-12">About us</h1>
    <div class="col-sm-6">
        <p>
           
            We are a reliable and dedicated family looking forward the helping you with your needs.
        </p>
        <p></p>

    </div>
    <div class="col-sm-6">
        <img src="~/Image/MurachLogo.jpg" alt="Murach Logo" class="rounded-circle" style="width:100%;"/>        
    </div>
</div>
